*{
    margin: 0;
    padding: 0;
    font-family:'Road Rage', cursive;
    color: rgb(146, 145, 145);
}
.header{
    min-height: 120vh;
    width: 100%;
    background-image: linear-gradient(rgba(23, 32, 70, 0.308),rgba(23, 32, 70, 0.308)),url(/pic7.1.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav
{
    display: flex;
    padding: 1% 7%;
    justify-content:space-between;
    align-items: center;
}
nav img
{
    width: 250px;
}
.nav-links
{
    flex: 1;
    text-align: right;
}
.nav-links ul li
{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a
{
    color:black;
    text-decoration:double;
    font-size: 35px;
}

.nav-links ul li::after
{
    content:'';
    width:0%;
    height: 3px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after
{
    width: 100%;
}
.img-gif
{
    width: 50%;
    height: 70px;
    position: absolute;
    top: 60%;
    left: 67%;
    transform: translate(-50%,50%);
    align-items: center;
}

.text-box
{
    width: 90%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,50%);
    text-align: center;
    color:rgba(128, 115, 57, 0.747);
}
.text-box p
{
    font-size: 32px;
}

.hero-btn
{
    display: inline-block;
    text-decoration: none;
    color: rgb(54, 44, 1);
    border: 2px solid black;
    padding: 6px 27px;
    font-size: 23px;
    background: rgba(238, 222, 153, 0.418);
    position: relative;
    cursor: pointer;
}

.hero-btn:hover
{
    font-size: 30px;
    color: rgb(131, 123, 108);
    border: 1px solid black;
    background: rgba(0, 0, 0, 0.712);
    transition: 1s;
}

.mobile-button
{
    display: none;
}


@media(max-width: 700px)
{
    .img-gif
    {
        display: none;
    }
    .text-box
    {
        width: 90%;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%,50%);
        text-align: center;
        color:rgba(128, 115, 57, 0.747);
    }
    .text-box p
    {
        font-size: 22px;
    }
    .header
    {
        min-height: 100vh;
        width: 100%;
        background-image: linear-gradient(rgba(23, 32, 70, 0.308),rgba(23, 32, 70, 0.308)),url(/pic7.1.png);
        background-position: center;
        background-size:cover;
        position: relative;
    }
    .mobile-button
    {
        display: block;
        border: none;
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
        color:rgba(0, 0, 0, 1);
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .mobile-button.showMenu{
        display: none;
    }

    nav img
    {
        padding: 1% 1%;
        width: 150px;
    }
    .nav-links ul li
    {
        display: block;
    }
    .nav-links
    {
        position: absolute;
        background: rgb(128, 115, 57, 0.747);
        height: 100vh;
        width: 150px;
        top: 0;
        right: -150px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .nav-links.showMenu{
        right:0;
    }
    

    .nav-links ul 
    {
        padding: 25px;
    }
    .nav-links ul li a
    {
        font-size: 30px;
    }
}

.roadmap
{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(23, 32, 70, 0.308),rgba(23, 32, 70, 0.308)),url(/pic9_4.png);
    background-position: center;
    background-size: cover;
    position: relative;

}
h1
{
    width: 80%;
    margin: auto;
    text-align: left;
    padding-top: 150px;
    font-size: 75px;
}
h2
{
    margin: auto;
    text-align: middle;
    padding-top: 2%;
    font-size: 45px;
}
.column
{
    margin-top: 5%;
    display:inline-block;
    justify-content:space-around;
    padding-left: 30%;
}
.row
{
    border: 4px solid black;
    background:rgba(131, 123, 108, 0.164);
    border-style: dotted;
    margin-bottom: 5%;
    box-sizing: border-box;
    transition: 0.5s;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
}
.currentrow
{
    border: 4px solid black;
    background:rgba(131, 123, 108, 0.164);
    border-style: dotted;
    border-color:rgb(146, 145, 145);
    margin-bottom: 5%;
    box-sizing: border-box;
    transition: 0.5s;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
    box-shadow: 0 0 45px 0px rgba(146, 146, 146, 0.7);
    text-align: center;
    font-size: 30px;
}
.row p
{
    text-align: center;
    font-size: 30px;
}
.row:hover
{
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.7);
}

@media(max-width: 700px)
{
    h1
    {
        width: 80%;
        margin: auto;
        text-align: left;
        padding-top: 50px;
        font-size: 55px;
    }
    .column
    {
        margin-top: 5%;
        display:inline-block;
        justify-content:space-around;
        padding-left: 7%;
    }
    .row p
    {
        text-align: center;
        font-size: 17px;
    }
    .currentrow p
    {
        text-align: center;
        font-size: 17px;
    }
}

/*---------LORE----------*/

.lore
{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(23, 32, 70, 0.308),rgba(23, 32, 70, 0.308)),url(/pic9_4.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.lore h1
{
    width: 80%;
    margin: auto;
    text-align: left;
    padding-top: 150px;
    font-size: 75px;

}
.lore h2
{
    margin: auto;
    text-align: middle;
    padding-top: 2%;
    font-size: 30px;
    padding-left: 10%;
}
.lore p
{
    text-align: left;
    font-size: 25px;
    padding-top: 50px;
    padding-left: 10%;
    display:inline-block;
    justify-content:left;
}

.end h3
{
    padding-top: 50px;   
    text-align: center;
    font-size: 25px;
}

@media(max-width: 700px)
{
    .lore h1
    {
        text-align: left;
        font-size: 80px;
        padding-top: 55px;
    }  
    .lore h2
    {
        text-align: left;
        font-size: 25px;
        padding-top: 50px;
        padding-left: 10%;
    }
    .lore p
    {
        text-align: left;
        font-size: 17px;
        padding-top: 50px;
    }
    .end h3
    {
        padding-top: 50px;   
        text-align: left;
        font-size: 17px;
        padding-left: 10%;
    }
}